<h1 xmlns:f="http://www.w3.org/1999/html">{headline}</h1>
<div class="row">
    <f:form action="{action}" object="{content}" name="content" additionalAttributes="{role:'form'}">

    <div class="col-md-8">
        <div class="form-group">
            <label>Title</label>
            <f:form.textfield property="title" class="form-control" />
        </div>

        <div class="form-group">
            <label>Category</label>
            <f:form.select property="category" options="{0: 'Betriebliche Tätigkeit', 1: 'Berufsschule'}" class="form-control" />
        </div>

        <div class="form-group">
            <label>Description</label>
            <f:form.textarea property="content" class="form-control" rows="14"/>
        </div>

        <f:form.submit value="{submitmessage}" class="btn btn-primary" />
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Datum</label>
            <f:form.textfield property="workdayAt" value="{content.workdayAt->f:format.date(format: 'd.m.Y H:i')}" class="form-control" id="datetimepicker12"/>
        </div>
        <div class="form-group">
            <label>Tag cloud</label>
            <f:form.textfield  class="form-control" data="{role:'tagsinput'}" />
        </div>
    </div>
    </f:form>
</div>
