{namespace r=ReneRoboter\Documentext\ViewHelpers}
<f:layout name="Default" xmlns:f="http://www.w3.org/1999/html" />

<f:section name="content">
    <div class="clearfix pager">
        <f:link.action action="list" arguments="{week:prevWeek, year:prevYear}">
            <span class="glyphicon glyphicon-chevron-left pull-left"></span>
        </f:link.action>
        <h2 class="text-center">KW {date.weekNumber} |
            <f:format.date format="d.m.Y">@{date.weekDate.start}</f:format.date>
            -
            <f:format.date format="d.m.Y">@{date.weekDate.end}</f:format.date>
        </h2>
        <f:link.action action="list" arguments="{week:nextWeek, year:nextYear}">
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        </f:link.action>
    </div>

    <div class="row">
        <f:for each="{contents}" as="content">
            <f:render section="ListItem" arguments="{content: content, weekBeginning:date.weekDate.start}"/>
        </f:for>
    </div>
    <h4>
        {test}
    </h4>
</f:section>


Hier steht die List Item Section.
Bitte benutze {content} als Content


<f:section name="ListItem">
    <div class="col-md-8 col-md-offset-2 post">
        <h2>
            <r:dateTranslate date="{content.workdayAt}" />
        </h2>
        <hr>
        <span class="glyphicon glyphicon-time"></span>
        Veröffentlicht am
        <f:format.date date="{content.workdayAt}" format="M d, Y"/>
        um
        <f:format.date date="{content.workdayAt}" format="h:i"/>
        PM
        <hr></hr>
        <div>
            <f:format.html>{content.description}</f:format.html>
        </div>

        <f:link.action action="show" arguments="{content:content}" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span> Weiterlesen
        </f:link.action>
        <f:link.action action="print" arguments="{weekBeginning:weekBeginning}" class="btn btn-default">
            <span class="glyphicon glyphicon-print"></span> Drucken
        </f:link.action>
        <hr class="last">
    </div>
</f:section>



