<div class="container" id="print">
    <div class="section">
        <div class="row">
            <div class="col-xs-6">
                <f:image src="EXT:documentext/Resources/Public/Images/logo-g-140x61.gif" class="logo"/>
            </div>
            <div class="col-xs-6">
                <p class="text-right">
                    <strong>Ausbildungsjahr </strong> <span id="year"></span>
                </p>
                <p class="text-right">
                    Fachinformatiker zur <br/>
                    Anwendungsentwicklung
                </p>
            </div>
            <div class="col-xs-12">
                <hr/>
            </div>
            <div class="col-xs-6">
                <p class="text-left">
                    <strong>René Backhaus</strong><br/>
                    <strong>Ausbildungsnachweisnr.</strong> <span id="certificate"></span>
                </p>
            </div>
            <div class="col-xs-6">
                <p class="text-right">
                    <strong>Kalenderwoche</strong> {week}<br/>
                    <strong>vom</strong> <f:format.date date="{monday.0.workdayAt}" format="d.m.Y"/>
                    <strong>bis</strong> <f:format.date date="{friday.0.workdayAt}" format="d.m.Y"/>
                </p>
            </div>
            <div class="col-xs-12">
                <hr/>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="section">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Betriebliche Tätigkeiten</h4>
                </div>
                <div class="col-xs-12">
                    <hr/>
                </div>

                <div class="col-xs-12">
                    <p class="bodytext">
                <span>
                   <strong>Mittwoch</strong>
                </span>
                        <br/>
                    </p>
                    <f:format.raw>
                        {wednesday.0.content}
                    </f:format.raw>
                    <p class="bodytext">
                <span>
                   <strong>Donnerstag</strong>
                </span>
                        <br/>
                    </p>
                    <f:format.raw>
                        {thursday.0.content}
                    </f:format.raw>
                    <p class="bodytext">
                <span>
                   <strong>Freitag</strong>
                </span>
                        <br/>
                    </p>
                    <f:format.raw>
                        {friday.0.content}
                    </f:format.raw>
                </div>
            </div>

        </div>
        <div class="section">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Berufssschule</h4>
                </div>
                <div class="col-xs-12">
                    <hr/>
                </div>
                <div class="col-xs-12">
                    <p class="bodytext">
                <span>
                   <strong>Montag</strong>
                </span>
                        <br/>
                    </p>
                    <f:format.raw>
                        {monday.0.content}
                    </f:format.raw>
                    <p class="bodytext">
                <span>
                   <strong>Dienstag</strong>
                </span>
                        <br/>
                    </p>
                    <f:format.raw>
                        {tuesday.0.content}
                    </f:format.raw>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="row">
            <div class="col-xs-6">
                <p>
                    <strong class="text-left">Datum</strong>
                </p>
            </div>
            <div class="col-xs-6">
                <p>
                    <strong class="text-right">Datum</strong>
                </p>
            </div>

            <div class="col-xs-6">
                <hr/>
                <strong>Auszubildender</strong>
            </div>
            <div class="col-xs-6">
                <hr/>
                <strong>Ausbilder</strong>
            </div>
        </div>
    </div>
</div>
<script>
    var certificate = prompt("Please enter your apprenticeship certificate number!");
    if (certificate != null) {
        document.getElementById("certificate").innerHTML = certificate;
    }

    var year = prompt("Please enter your apprenticeship year!");
    if (year != null) {
        document.getElementById("year").innerHTML = year;
    }

    window.print();
</script>